<div>
  <div class="header">
    <h1>Photo Galleries of Our Favourite Writer: Italo Calvino</h1>
    <h2>A Cool Place to Find Inspiration and to Sell Art</h2>
  </div>
  <br><br>
  <div class="text">
    <h2 style="align-content: center">Terms and Conditions of Use</h2>
    <br>
    <h3 style="color: peru">To use our service, you must also like Italo Calvino: </h3>
    <p>The man who combined Art and Science in the modern world;</p>
    <p>The man who  wrote journalism and autobiography, novels and flash fiction, and everything else in-between;</p>
    <p>The man who attempted to express scientific theories such as quantum physics in literary form;</p>
    <p>The man who created whimsical and dreamlike stories with his playful, fantastical form of writing that tweaks the world we live in;</p>
    <p>The man who wrote science fiction that reads like fable, and fantasy that reads like daily life;</p>
    <p>The man who was sometimes pegged down as a fabulist or a magical realist or a postmodernist, but he is all of those and more;</p>
    <p>The man who was born in 1923 in Cuba and spent most of his life in Europe; who drew on his experiences fighting in communist Italian Resistance brigades during WWII alongside his research that went into creating Italian Folktales, the “Italian equivalent of the Brothers Grimm”; who took fiction into new places where it had never been before, and back into the fabulous and ancient sources of narrative; who was conceptually daring, imaginative, humorous, moving, and, above all, a joy to read;</p>
    <br>
    <h3>The man who wrote: </h3>

    <a class="tooltip">
      The Baron in the Trees
      <span>
        <%= image_tag("pics/baron.jpg", :alt => "baron", class:"callout") %>
    </span>
    </a>
    <br>
    <a class="tooltip">
      The Cloven Viscount
      <span>
        <%= image_tag("pics/viscount.jpg", :alt => "viscount", class:"callout") %>
    </span>
    </a>
    <br>
    <a class="tooltip">
      The Nonexistent Knight
      <span>
        <%= image_tag("pics/knight.jpg", :alt => "knight", class:"callout") %>
    </span>
    </a>
    <br>
    <a class="tooltip">
      If on a Winter’s Night a Traveler
      <span>
        <%= image_tag("pics/night.jpg", :alt => "night", class:"callout") %>
    </span>
    </a>
    <br>
    <a class="tooltip">
      Invisible Cities
      <span>
        <%= image_tag("pics/invisible_cities.jpg", :alt => "cities", class:"callout") %>
    </span>
    </a>
    <br>
    <a class="tooltip">
      Mr. Palomar
      <span>
        <%= image_tag("pics/palomar.jpg", :alt => "palomar", class:"callout") %>
    </span>
    </a>
    <br>
    <a class="tooltip">
      The Road to San Giovanni
      <span>
        <%= image_tag("pics/road.jpg", :alt => "road", class:"callout") %>
    </span>
    </a>
    <br>
    <a class="tooltip">
      Marcovaldo
      <span>
        <%= image_tag("pics/marcovaldo.jpg", :alt => "marcovaldo", class:"callout") %>
    </span>
    </a>
    <br><br>
    <div class = "link">
      <%= link_to 'Agree and Go', photos_path, class:"link" %>
    </div>
    <br><br>
  </div>
<%= image_tag("pics/background_footer.jpg", :alt => "background_footer", style: 'width:100%;') %>
</div>


