<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @photo.created_by %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @photo.visibility %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @photo.created_at %>
</p>


<% if @photo.images.attached? %>
  <p>
    <strong>Photos:</strong>
    <br>
    <% @photo.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  </p>
<% end %>

<% if @photo.created_by == @user_current %>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
<% end %>

<%= link_to 'Back', photos_path %>